---
# front matter comment to ensure jekyll properly reads file
---

$color-brand: #e3252b;
$color-brand-dark: #b01d21;
$color-blockquote: #555;
$margin-blockquote: 25px;

a:link,
a:active {
  color: $color-brand;
}

a:hover {
  color: $color-brand-dark;
}

a:visited {
  color: $color-brand-dark;
}

blockquote {
  color: $color-blockquote;
  margin-left: $margin-blockquote;
}

h2 {
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
}
