.DS_Store

# jekyll
.jekyll-cache
.jekyll-metadata
.sass-cache
_site/

# ignore all extra node_modules from yarn
# only keep dependency source (not entire git repo)
# custom install directory is yarn_deps

# bootstrap

yarn_deps/bootstrap/*
!yarn_deps/bootstrap/dist/

yarn_deps/bootstrap/dist/*
!yarn_deps/bootstrap/dist/css
!yarn_deps/bootstrap/dist/fonts
!yarn_deps/bootstrap/dist/js

yarn_deps/bootstrap/dist/css/*
!yarn_deps/bootstrap/dist/css/*.min.css
!yarn_deps/bootstrap/dist/css/*.min.css.map

yarn_deps/bootstrap/dist/js/*
!yarn_deps/bootstrap/dist/js/*.min.js
!yarn_deps/bootstrap/dist/js/*.bundle.min.js.map

# jquery

yarn_deps/jquery/*
!yarn_deps/jquery/dist

yarn_deps/jquery/dist/*
!yarn_deps/jquery/dist/*.min.js
