
<footer class="container container-fluid">
<hr width="50%">
<p class="text-muted text-center">
    <small>
        Want to contribute to this newsletter or share a story? We'd love to hear from you! Email
        <a href="mailto:twcnewsletter@protonmail.com">twcnewsletter@protonmail.com</a>
        or <a href="https://github.com/techworkersco/techworkersco.github.io/issues">open a new issue</a>.
    </small>
</p>

<p class="text-center">
    ✊🏼💛
</p>

<p class="text-muted text-center">
    <small>
        A <a href="https://techworkerscoalition.org">Tech Workers Coalition</a> project.
        This site is <a href="{{ site.links.github }}">open source</a>.
    </small>
</p>
</footer>
