name: Auto-publish Newsletter

on:
# Uncomment for debugging to manually trigger workflow
#
#   workflow_dispatch:
#     inputs:
#       pull-request:
#         description: 'Pull request number'
#         required: true
  schedule:
    # Begin at 07:00am PST or 08:00am PDT on Fridays.
    # Will keep checking every 30 minutes for 3 hours.
    # MailChimp is scheduled for 11:00am daily.
  
    # Cron runs in UTC
    # PST is UTC-8:00
    # Thus, UTC 15:00-8:00 == 7:00am PST
    # https://crontab.guru/#0,30_15-18_*_*_5
    - cron: "0,30 15-18 * * 5"

jobs:
  main:
    name: Publish next issue
    runs-on: ubuntu-latest
    steps:
      - name: current datetime
        run: date
   
      # https://github.com/marketplace/actions/auto-merge-pull-request   
      - name: auto-merge
        uses: reitermarkus/automerge@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          merge-method: squash
          squash-title: true
          required-labels: auto-publish
          # Uncomment for debugging to manually trigger workflow
          #
          # pull-request: ${{ github.event.inputs.pull-request }}
          # dry-run: true
