# GitHub Actions Virtual Environments
# https://github.com/actions/virtual-environments/

name: Danger

on:
  pull_request:
    types: [synchronize, opened, reopened, labeled]

jobs:
  main:
    name: Review and Lint
    runs-on: ubuntu-latest
    steps:
      - name: ruby versions
        run: |
          ruby --version
          gem --version

      - name: git checkout
        uses: actions/checkout@v4

      # https://github.com/ruby/setup-ruby
      - name: ruby setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true

      - name: danger
        env:
          DANGER_GITHUB_API_TOKEN: ${{ secrets.DANGER_GITHUB_API_TOKEN }}
        run: bundle exec danger --verbose
