# GitHub Actions Virtual Environments
# https://github.com/actions/virtual-environments/

name: Create New Issue

on:
  workflow_dispatch:
    inputs:
      volume:
        description: 'Volume #'
        required: true
        default: '3'
      issue:
        description: 'Issue #'
        required: true
      date:
        description: 'Date (YYYY-MM-DD)'
        required: true

jobs:
  job-main:
    name: Create issue PR
    runs-on: ubuntu-latest
    steps:
      - name: ruby versions
        run: |
          ruby --version
          gem --version

      - name: git checkout
        uses: actions/checkout@v2

      # https://github.com/ruby/setup-ruby
      - name: ruby setup
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
          bundler-cache: true

      - name: generate issue template
        run: make new-issue volume=${{ github.event.inputs.volume }} issue=${{ github.event.inputs.issue }} date=${{ github.event.inputs.date }}

      # https://github.com/marketplace/actions/create-pull-request
      - name: create pull request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Publish volume ${{ github.event.inputs.volume }}, issue ${{ github.event.inputs.issue }} (${{ github.event.inputs.date }})
          title: Publish volume ${{ github.event.inputs.volume }}, issue ${{ github.event.inputs.issue }} (${{ github.event.inputs.date }})
          body: |
            :robot: *Auto-generated issue template.* This pull request was initiated by @${{ github.actor }}.

            :arrow_right: **Follow these easy steps below and check them off as you go so others know what has been completed.**

            :bulb: If something goes wrong, [check the documentation for help](https://github.com/techworkersco/techworkersco.github.io/blob/master/.github/DOCUMENTATION.md).

            :rotating_light: If something goes _really wrong_, ping `@jessesquires`.

            # Checklist

            - [ ] Add initial draft content to the issue template.
            - [ ] Upload the header image and any other images. (The bot will comment with an upload link.)
                - [ ] :warning: **Name the header image correctly** before uploading. Near the top of the template, you'll find the expected name. It should look something like `vol-3-issue-1-header.jpg`. Make sure the file name and extension match the template. Update the template if needed, for example, if you are uploading a `png` instead.
                - [ ] Once all images are uploaded, add the `needs optimize images` label.
                - [ ] The bot will optimize the images and push the changes here.
                - [ ] If you modify images again, remove and re-add the `needs optimize images` label to re-trigger the bot.

            > :label: Sometimes the automated checks get stuck after the bot optimizes images. If that happens, just edit the issue again to re-trigger the checks. (Simply adding a blank line is enough.)

            - [ ] Continue editing and proofreading the issue, make final edits.
            - [ ] **Approve** the pull request when **finished**. :white_check_mark: But, **do not merge**.

            > :warning: Subsequent edits will **void** approval. **You will need to re-approve after any edits**. Thus, it is recommended to approve only once the issue is completely finished.

            - [ ] Verify that **all checks are passing**. :white_check_mark:
                - [ ] If status checks are failing, click "Details" next to the failing check. Read the logs and try to address the issue(s).
            - [ ] Add the `auto-publish` label. The bot will then merge this [automatically tomorrow morning](https://github.com/techworkersco/techworkersco.github.io/blob/master/.github/DOCUMENTATION.md#auto-publish-label)!

            Nice work, champ. :sunglasses: You're finished!

          branch: automated/vol${{ github.event.inputs.volume }}/issue${{ github.event.inputs.issue }}-${{ github.event.inputs.date }}
          delete-branch: true
          labels: next issue, automated
          assignees: ${{ github.actor }}
          reviewers: dellsystem, atav1k, jessesquires, stationaery, kaylensanders, beccalew, anaulin
          draft: false
